@font-face {
  font-family: calculator;
  src: url(Digital7-rg1mL.ttf);
}
body {
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);

  user-select: none;
}
.calculator-body {
  align-items: center;
  background: rgb(5, 3, 0);

  position: relative;
  margin: 0 auto;
  width: 20vw;

  height: auto;
  padding: 10px;
  border-radius: 10px;
}
#clc-display,
.displayRes {
  padding: 4px;
  height: 25px;
  color: white;
  border: 1px rgba(255, 255, 255, 0.838) solid;
  border-radius: 5px;
  font-family: calculator;
  font-size: 1.2em;
}
.displayEqual {
  background-color: rgb(94, 93, 93);
  border: none;
}
#clc-display {
  display: none;
}
.clc-button {
  background: rgb(29, 28, 31);
  opacity: 0.6;
  color: rgb(23, 210, 252);
  width: 55px;
  height: 55px;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 2px;
  border-radius: 8px;
}
.gradient-blue {
  width: 80px;
  height: 40px;
  background: rgb(9, 154, 155);
  background: radial-gradient(
    circle,
    rgba(9, 154, 155, 1) 0%,
    rgba(6, 0, 2, 1) 68%
  );

  position: absolute;
  top: 0px;
  left: 60%;
}
.clc-button.operater {
  background-color: rgb(12, 152, 177);
  color: white;
  font-weight: bold;

  margin-left: 4px;
}
.clc-button.zero {
  width: 60px;
  left: 30px;
}
.backspace {
  width: 55px;
}
.equal {
  background-color: rgb(9, 191, 252);
  width: 55px;
  height: 55px;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  margin-left: 3px;
  color: white;
}
.clc-button.operater.plus {
  height: 55px;
}
.clc-button.active {
  border: 1px rgb(81, 24, 24) solid;
}
.active,
.clc-button:active {
  background-color: aqua;
}
.maker {
  color: white;
  position: relative;
  left: 140px;
  margin-top: 10px;
}
#owner {
  font-size: 0.8em;
}
.ani {
  width: 30px;
  height: 30px;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: black;
  z-index: -1;
  animation: jawla 4s linear infinite;
}
@keyframes jawla {
  0% {
    top: -25px;
    left: -25px;
  }
  25% {
    top: -25px;
    left: 295px;
  }
  50% {
    top: 635px;
    left: 295px;
  }
  75% {
    top: 635px;
    left: -25px;
  }
  100% {
    top: -25px;
    left: -25px;
  }
}
.future {
  width: 30px;
  height: 5px;
  top: 20px;
  position: relative;
  left: 130px;
  color: rgb(35, 163, 222);
  background-color: aqua;
  animation: futureMoves 1.5s linear infinite;
  z-index: 20;
  display: block;
}
@keyframes futureMoves {
  0%,
  100% {
    top: 20px;
    left: 240px;
  }
  50% {
    top: 20px;
    left: 0px;
  }
}
.clc-button.comparison {
  width: 35px;
  display: inline;
}
#visible {
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  .calculator-body {
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .clc-button {
    width: 20%;
    height: 50px;
    font-size: 1.2em;
  }
  .clc-button.zero {
    width: 40%;
  }
  .clc-button.operater {
    width: 20%;
  }
  .clc-button.operater.plus {
    width: 40%;
  }
  .backspace {
    width: 20%;
  }
  .equal {
    width: 20%;
    height: 50px;
  }
  .gradient-blue {
    width: 100%;
    height: 50px;
    left: 0;
  }
  .maker {
    left: 0;
    margin-top: 0;
  }
  .future {
    left: 0;
    top: 0;
  }
  .clc-button.comparison {
    width: 20%;
  }
}

@media screen and (max-width: 400px) {
  .clc-button {
    width: 15%;
    height: 50px;
    font-size: 1.2em;
  }
  .comparison {
    width: 15%;
  }
  .clc-button.zero {
    width: 15%;
  }
  .clc-button.operater {
    width: 15%;
  }
  .clc-button.operater.plus {
    width: 15%;
  }
  .backspace {
    width: 15%;
  }
  .equal {
    width: 15%;
    height: 50px;
  }
  .gradient-blue {
    width: 80px;
    height: 40px;
    background: rgb(9, 154, 155);
    background: radial-gradient(
      circle,
      rgba(9, 154, 155, 1) 0%,
      rgba(6, 0, 2, 1) 68%
    );

    position: absolute;
    top: 0px;
    left: 60%;
  }
  .maker {
    left: 0;
    margin-top: 0;
  }
  .future {
    left: 0;
    top: 0;
  }
  .clc-button.comparison {
    width: 25%;
  }
}

@media screen and (max-width: 300px) {
  .clc-button {
    width: 30%;
    height: 50px;
    font-size: 1.2em;
  }
  .clc-button.zero {
    width: 60%;
  }
  .clc-button.operater {
    width: 30%;
  }
  .clc-button.operater.plus {
    width: 60%;
  }
  .backspace {
    width: 30%;
  }
  .equal {
    width: 30%;
    height: 50px;
  }
  .gradient-blue {
    width: 80px;
    height: 40px;
    background: rgb(9, 154, 155);
    background: radial-gradient(
      circle,
      rgba(9, 154, 155, 1) 0%,
      rgba(6, 0, 2, 1) 68%
    );

    position: absolute;
    top: 0px;
    left: 60%;
  }
  .maker {
    left: 0;
    margin-top: 0;
  }
  .future {
    left: 0;
    top: 0;
  }
  .clc-button.comparison {
    width: 30%;
  }
}

@media screen and (max-width: 200px) {
  .clc-button {
    width: 40%;
    height: 50px;
    font-size: 1.2em;
  }
  .clc-button.zero {
    width: 80%;
  }
  .clc-button.operater {
    width: 40%;
  }
  .clc-button.operater.plus {
    width: 80%;
  }
  .backspace {
    width: 40%;
  }
  .equal {
    width: 40%;
    height: 50px;
  }
  .gradient-blue {
    width: 80px;
    height: 40px;
    background: rgb(9, 154, 155);
    background: radial-gradient(
      circle,
      rgba(9, 154, 155, 1) 0%,
      rgba(6, 0, 2, 1) 68%
    );

    position: absolute;
    top: 0px;
    left: 60%;
  }
  .maker {
    left: 0;
    margin-top: 0;
  }
  .future {
    left: 0;
    top: 0;
  }
  .clc-button.comparison {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .calculator-body {
    right: 0;
    top: 0;
    width: 50%;
    height: auto;
    border-radius: 10;
  }
  .clc-button {
    width: 20%;
    height: 50px;
    font-size: 1.2em;
  }
  .clc-button.zero {
    width: 40%;
  }
  .clc-button.operater {
    width: 20%;
  }
  .clc-button.operater.plus {
    width: 40%;
  }
  .backspace {
    width: 20%;
  }
  .equal {
    width: 20%;
    height: 50px;
  }
  .gradient-blue {
    width: 100px;
    height: 40px;
    background: rgb(9, 154, 155);
    background: radial-gradient(
      circle,
      rgba(9, 154, 155, 1) 0%,
      rgba(6, 0, 2, 1) 68%
    );

    position: absolute;
    top: 0px;
    left: 60%;
  }
  .maker {
    left: 0;
    margin-top: 0;
  }
  .future {
    left: 0;
    top: 0;
  }
  .clc-button.comparison {
    width: 20%;
  }
}
